In [1]:
# Lets first install the selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.4)

Now need to download webdriver for web browser before proceeding furthure

In [72]:
#Lets now import all the required library
import selenium
import pandas as pd
from selenium import webdriver
import time
from bs4 import BeautifulSoup

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [29]:
#Lets first connect to webdriver
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

In [30]:
url = 'https://www.naukri.com/'
driver.get(url)

In [31]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [32]:
#Find the job title
search_job.send_keys("Data Analyst")

In [33]:
#Find the element for job location
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [34]:
#Now click search button by using xpath
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [35]:
jobtitles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
jobtitles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="cfa01e43-ffbf-417e-9637-1bc187901193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="d0e4ba89-e270-44bf-9ce5-10396c2c7d20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="b6653625-89ec-4bff-b520-cabc432af43c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="5a4e9ee6-d5dc-488f-b4d7-c591c1632f3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="943341ab-56c1-4b66-9bec-81340f68437a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="0dd0712b-9eb5-4043-8437-104eca9c3a21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="3bfecc07-8b31-4250-ad0e-6d0bf3eaadf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="67e9e808-eadb-4b2f-ba2c-58cb547687df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="eb38977d-1230-4d1d-8ea4-63da49369159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="c8192d10-eeac-48e8-9afb-ac88697976d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="d2e23add-c3a6-4b30-81bd-889e91c601d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="09b91edb-e310-4606-a139-422519b3f824")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="a18b8a48-7fd6-4180-a63b-a75e1aff8732")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="f1b207da-ec30-454a-bdb6-7f73eb704118")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="b03f3c2b-2d2d-4118-9605-572e337bb2f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="dae3f91c-3ecf-4ebc-bb43-a466015adc26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="7137b4c3-2be1-4a6c-b5e4-cd655b4f8bef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="a8d3fe47-286e-4b12-b898-932e96ee6c71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="3d78000c-4157-4f1a-9412-7cf5cbf4fbf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="22c6a254-1e06-4c0c-804e-3a2395a9269c")>]

In [36]:
job_titles=[]
for i in jobtitles_tags:
    job_titles.append(i.text)
job_titles

['Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Clinical Data Analyst II',
 'Business Data Analyst - Data Structure & Quality',
 'DATA ANALYST',
 'Hiring For Data Analyst (DA Role)',
 'Business Data Analyst - MIS & Reporting',
 'Talent Data Analyst',
 'Data Analyst',
 'Hot Vacany - Data Analyst / Business Reporting Analyst',
 'Data analysts',
 'Business Data Analyst 3',
 'Senior Data Analyst',
 'Senior Data Analyst - CRM',
 'Business Data Analyst',
 'Business Data Analyst',
 'Senior Data Analyst - Supporting Audits',
 'Associate System and Data Analyst',
 'VMS Data Analyst',
 'Data Analyst']

In [37]:
joblocations_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
joblocations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="f09e65e1-dcbc-4cce-be27-09cea6dd8436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="74f99f61-7bc2-4957-84f1-10c593c7cbfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="1eac236f-4dae-4877-a59a-c57c08c70488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="97c3789f-b05a-4c71-970f-c5c587fee0cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="ff5e7b83-c4f5-4844-9d8e-2cf5582c6933")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="4e8b4fa7-9c88-48e5-b7d9-4b0f9387823a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="fc0ba34e-aee5-4935-8e63-a868edde4232")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="213cc5cb-ffb6-4901-8113-e8befd074b55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="1ead6fbe-0576-4e09-ab4a-682cd32c16f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="d9062306-8d72-46a8-9042-d8eccfb8ea69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="6d9306b9-7896-43ea-9e79-b8d313d2c021")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="6d050ec2-77ff-4fd9-bc9f-68f3236f9118")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="22d87848-dba5-4037-a68d-8e2b41a5b662")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="14f13e72-80e7-43f4-bfe4-5dfc3b5fbbc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="57f53cc5-eafe-4785-b6ac-6a3df1172e6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="5ca9dc08-5d18-4d31-bedf-4adce38915db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="7500fda9-a365-4f74-af8c-c6ac88ba701b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="f5adc7bc-ab4f-414c-af38-6ea2d57c7691")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="d5ddd2f4-cca4-4ad8-9258-89f54d77f391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="41192c6e-18cc-4054-a516-5ea2c5bf2a26")>]

In [38]:
job_locations=[]
for i in joblocations_tags:
    job_locations.append(i.text)
job_locations

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [39]:
companynames_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companynames_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="0c6fd676-1e2a-4dc2-853e-436e58d9c8e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="d8217271-f37c-4ecc-9789-be9b05f5a028")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="25d9396b-caa3-4ac4-a6c3-afc6fe1bf961")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="34ab6bba-7793-4cca-86bf-810d0a9ce7af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="350c31ca-a6f7-4632-a788-e92b25e5332a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="f16fe038-b6c7-4db4-98f3-58aa42612462")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="447b66a6-9545-4022-a707-29d1f119b43c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="719e748e-20da-44dd-8443-f3df788e873d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="157e0002-5eb8-41b9-84bd-be3abd9d8449")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="280f0894-099f-4ffe-aa51-09351ae2d323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="40188469-05a9-442e-9f24-307ab0d8097f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="76295e48-a6e6-4267-9523-926b779ca8ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="c3da58aa-798f-4917-b03e-cee4c8c27b3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="c5154302-627e-4e7f-b93f-0055304a14a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="e1815c76-1021-4f11-a551-d1756c732b22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="d42aeb0e-1d4f-402a-8ca5-2a877cab88c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="a1baf4aa-2dd3-40e2-a3bf-34b2cbd9cee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="ba3ed252-785a-41a3-8c91-d43874de61ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="c5babc2e-c73c-4943-b0cd-b9fbacd21a2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="514296b2-e08a-4a0b-b83b-a0647ea33d86")>]

In [40]:
company_names=[]
for i in companynames_tags:
    company_names.append(i.text)
company_names

['Virtusa Consulting Services Pvt Ltd',
 'Shell India Markets Private Limited',
 'Parexel International India Pvt. Ltd.',
 'Catalyst',
 'McAfee Software (India) Pvt. Ltd',
 'COLLABERA',
 'SHAND PIPE INDUSTRY PVT.LTD',
 'Varite',
 'Siemens Limited',
 'Jana Small Finance Bank Limited',
 'IBM India Pvt. Limited',
 'Varite',
 'Liventus, Inc.',
 'GO-JEK India',
 'Trigent Software',
 'Trigent Software',
 'Visa Inc.',
 'Boeing',
 'SUEZ',
 'WorkFusion']

In [41]:
experiencerequired_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experiencerequired_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="9fad3f7d-6218-40f5-a891-8fcd8f2ed5ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="cff41d52-13e2-472f-82f3-0364e61b6bf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="402c77b7-e0a8-44af-bfef-68c492e6a822")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="118575fc-e6ba-449d-be15-ec7d36b2994c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="99452de3-d627-47aa-8c0f-5d21fec17de4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="53dd760e-ef24-4066-95b7-3d780fc335e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="429940ae-52ad-4bd0-95ad-bc6650644068")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="3f9e2e97-2c80-4700-ba2b-b7082a386c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="bd46e5b6-1e4a-49de-9279-9f58633da59d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="918e761f-ae9b-4b21-8638-c567031ebc77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="33817234-a93d-4256-bbd1-31d0400c3a90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="07026640-6654-4668-a6dc-c4f36e28a08e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="5b4c3b16-d0e8-4850-8c93-fd499c784cba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="60c8e820-cd9a-4a73-ac29-333c81bdfffa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="22b4d1a5-faba-409e-8c57-25171f505b0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="6c9f6500-445e-435d-98d5-03d5b5fd9f93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="58c19576-3e1c-442b-959a-390285b1fbb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="c83ae2fe-9484-4030-8833-ce86d43755de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="dec2d05a-e5e3-4804-92ac-03e4a20ebe1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b9a6340026ffb3a647391f9dd37f2216", element="ce4a4d7f-bfbc-49e4-a177-1f4d76bbf708")>]

In [42]:
experience_required=[]
for i in experiencerequired_tags:
    experience_required.append(i.text)
experience_required

['5-10 Yrs',
 '6-9 Yrs',
 '4-8 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '0-1 Yrs',
 '2-6 Yrs',
 '4-4 Yrs',
 '3-6 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '2-8 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '4-7 Yrs']

In [43]:
print(len(job_titles),len(job_locations),len(company_names),len(experience_required))

20 20 20 20

In [44]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['location']=job_locations[:10]
jobs['company']=company_names[:10]
jobs['experience required']=experience_required[:10]

In [45]:
jobs

,title,location,company,experience required
0,Data Analyst,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Virtusa Consulting Services Pvt Ltd,5-10 Yrs
1,ID&A - Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Clinical Data Analyst II,Bangalore/Bengaluru,Parexel International India Pvt. Ltd.,4-8 Yrs
3,Business Data Analyst - Data Structure & Quality,Bangalore/Bengaluru,Catalyst,2-5 Yrs
4,DATA ANALYST,Bangalore/Bengaluru,McAfee Software (India) Pvt. Ltd,3-6 Yrs
5,Hiring For Data Analyst (DA Role),Bangalore/Bengaluru,COLLABERA,0-1 Yrs
6,Business Data Analyst - MIS & Reporting,Bangalore/Bengaluru,SHAND PIPE INDUSTRY PVT.LTD,2-6 Yrs
7,Talent Data Analyst,Bangalore/Bengaluru,Varite,4-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,Siemens Limited,3-6 Yrs
9,Hot Vacany - Data Analyst / Business Reporting...,Bangalore/Bengaluru,Jana Small Finance Bank Limited,6-11 Yrs

-------------------------------------------------------------------------------------------------------------------------------

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [46]:
#Lets now import all the required library
import selenium
import pandas as pd
from selenium import webdriver

#Lets first connect to webdriver
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

#Lets open the url
url = 'https://www.naukri.com/'
driver.get(url)

#Find the job title
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job
search_job.send_keys("Data Scientist")

#Find the element for job location
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

#Now click search button by using xpath
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [47]:
#Lets get the data of job title
jobtitles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
jobtitles_tags

job_titles=[]
for i in jobtitles_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Scientist',
 'Lead Data Scientist Domain Manufacturing Location Bangalore',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Manager - Data Scientist',
 'Tcs Hiring For Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Opportunity with Infogain For Data Scientist-Immediate Joiners Only',
 'Senior Data Scientist',
 'Sr. Lead Data Scientist For an Automotive Company - Product based',
 'Senior Data Scientist',
 'Associate Data Scientist',
 'Data Scientist - Consumer Analytics',
 'Data Scientist',
 'Opportunity with Accionlabs For Data Scientist',
 'Process Expert - Opportunity to Cash (Jr Data Scientist)',
 'Data Scientist: Advanced Analytics',
 'Data Scientist and Analytics']

In [48]:
#Lets get the data of job location
joblocation_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
joblocation_tags

job_location=[]
for i in joblocation_tags:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida(Sector-60 Noida), Bangalore/Bengaluru(Electronics City Phase 1), Mumbai (All Areas)(SEEPZ)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi',
 'Mumbai, Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [49]:
#Lets get the data of company name
companyname_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companyname_tags

company_name=[]
for i in companyname_tags:
    company_name.append(i.text)
company_name

['Philips India Limited',
 'Hexaware Technologies Ltd.',
 'ORMAE LLP',
 'Multi Recruit',
 'Schneider Electric India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'Tata Consultancy Services Ltd.',
 'Safe Security',
 'ORMAE LLP',
 'Infogain India (P) Ltd.',
 'Genius Consultants Limited',
 'PEOPLESTRONG TECHNOLOGIES PRIVATE LIMITED',
 'Aryng',
 'IDFC FIRST Bank',
 'Eli Lilly Services India Private Limited',
 'Catalyst',
 'Accion labs India Private Limited',
 'Siemens Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited']

In [50]:
#Lets get the data of job description
jobdescription_tags = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
jobdescription_tags

job_description=[]
for i in jobdescription_tags:
    job_description.append(i.text)
job_description

['A Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Ap...',
 'Work from home - during COVID Flexible work timings Sponsored Scholarship / Trainings /...',
 'Skills and Experience: Should have 3-10 years of experience in Data Science algorithm d...',
 'Experience with web analytics, social media analytics, analytics application of cloud c...',
 'In-depth understanding and modeling experience in supervised, unsupervised, reinforceme...',
 'Inviting applications for the role of Manager Data Scientist for Bangalore location.We ...',
 '5 8 years hands on experience in Data Science, developing Analytical models using diffe...',
 'Core Responsibilities Work closely with the Product development teams and continually e...',
 'Should have 3-10 years of experience in Data Science algorithm design and implementatio...',
 'Dear Candidates We are looking for an Experienced Data Scientist Architect for our orga...',
 'Domain Experience: Marketing / Sales/Advertising /any projects involving data analytics...',
 'Proven 12 or more years of experience in data analysis, building and deploying optimize...',
 'Proficient in Python and / or R Experience with machine learning models such gradient b...',
 'Job Requirements - Experience Experience Minimum Number of Years 3+ years of experience...',
 'As part of the LCCI team, we are excited to offer the role of a Data Scientist who will...',
 '4+ years of experience and hands on experience in Python / Spark for data crunching, da...',
 'Experience 3 to 5yrs',
 'You should Identify, analyze, and interpret trends or patterns in complex data sets usi...',
 'As a Data Scientist at IBM, you will help transform our clients data into tangible busi...',
 'Data Science is a critical team within Kyndryl Marketing Strategy and Transformation or...']

In [51]:
#Lets check the length of data whether its equal or not
print(len(job_titles),len(job_location),len(company_name),len(job_description))

20 20 20 20

In [52]:
#Lets print the data frame of first 10 jobs 
jobs1=pd.DataFrame({})
jobs1['title']=job_titles[:10]
jobs1['location']=job_location[:10]
jobs1['company']=company_name[:10]
jobs1['job description']=job_description[:10]
jobs1

,title,location,company,job description
0,Senior Data Scientist,Bangalore/Bengaluru,Philips India Limited,"A Master s Degree or PhD in Computer Science, ..."
1,Lead Data Scientist Domain Manufacturing Locat...,Bangalore/Bengaluru,Hexaware Technologies Ltd.,Work from home - during COVID Flexible work ti...
2,Senior Data Scientist,Bangalore/Bengaluru,ORMAE LLP,Skills and Experience: Should have 3-10 years ...
3,Lead Data Scientist,Bangalore/Bengaluru,Multi Recruit,"Experience with web analytics, social media an..."
4,Data Scientist,Bangalore/Bengaluru,Schneider Electric India Pvt. Ltd.,In-depth understanding and modeling experience...
5,Manager - Data Scientist,Bangalore/Bengaluru,GENPACT India Private Limited,Inviting applications for the role of Manager ...
6,Tcs Hiring For Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Gurgaon...",Tata Consultancy Services Ltd.,"5 8 years hands on experience in Data Science,..."
7,Senior Data Scientist,Bangalore/Bengaluru,Safe Security,Core Responsibilities Work closely with the Pr...
8,Senior Data Scientist,Bangalore/Bengaluru,ORMAE LLP,Should have 3-10 years of experience in Data S...
9,Opportunity with Infogain For Data Scientist-I...,"Noida(Sector-60 Noida), Bangalore/Bengaluru(El...",Infogain India (P) Ltd.,Dear Candidates We are looking for an Experien...

============================================================================================================

Q10: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop

In [57]:
#Lets first connect to webdriver
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(4)

url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)


#creating the empty list
Title=[]
Ratings=[]
price=[]

time.sleep(2)
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()    

time.sleep(2)
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
        
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
df

                                               Title     Price       Ratings
0  Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...  1,80,990  2.9 out of 5
1  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  1,07,990  4.4 out of 5
2  Lenovo Legion 5 10th Gen Intel Core i7 15.6 in...    71,990  4.5 out of 5
3  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...  1,25,000    4 out of 5
4  Dell XPS 7390 13.3-inch (33.78 cms) UHD Displa...    73,990  1.1 out of 5
5  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    94,202  4.4 out of 5
6  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...  1,13,990    5 out of 5
7  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...    90,990     NO rating
8  HP Pavilion Gaming(2021) 10th Gen Intel Core i...  1,07,990  4.4 out of 5
9  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...    74,990  4.4 out of 5

Q9."https://www.myntra.com/shoes". Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [58]:
#Lets first connect to webdriver
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(4)

url = "https://www.myntra.com/shoes%22"
driver.get(url)

time.sleep(2)
#clicking on price filter
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()


#clicking on black colour
black_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_button.click()

#creating empty lists
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []

time.sleep(4)
# scrape next pages urls
nxt_page = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") #for scrapping shoe short-description
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)    
        
df=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
df

,Brand,Short-description,Price
0,Red Tape,Men Air + Walking Shoes,Rs. 2189Rs. 7299(70% OFF)
1,Nike,Men FLEX EXPERIENCE RN Shoes,Rs. 3746Rs. 4995(25% OFF)
2,ADIDAS,Men Classic Running Shoes,Rs. 1999Rs. 2499(20% OFF)
3,Red Tape,Men Walking Shoes,Rs. 1469Rs. 4899(70% OFF)
4,Eego Italy,Men Trekking Shoes,Rs. 899Rs. 2599(Rs. 1700 OFF)
...,...,...,...
95,Roadster,Women Heeled Boots,Rs. 1299Rs. 2599(50% OFF)
96,HRX by Hrithik Roshan,Men Manitoba V1 Running Shoes,Rs. 1439Rs. 3599(60% OFF)
97,HRX by Hrithik Roshan,Men Running Shoes,Rs. 1439Rs. 3599(60% OFF)
98,HRX by Hrithik Roshan,Men DRIFT+ Walking Shoes,Rs. 2549Rs. 5099(50% OFF)
99,Mochi,Men Running Shoes,Rs. 2490

Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker

In [59]:
#Lets first connect to webdriver
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(4)


url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#close log_in window
log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

time.sleep(2)
#locating the button and clicking it to search for sneakers
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)        
# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
df

,Brand,Description,Price,Discount
0,luxury fashion,REDT Sneakers For Men (Red),₹379,70% off
1,Chevit,Maximus Slip On IDP Sneakers For Men (Black),₹599,62% off
2,World Wear Footwear,sm323 Sneakers For Men (White),₹240,51% off
3,Creer,Sneakers For Men (Blue),₹398,60% off
4,BRUTON,Poise Perf V1 IDP Sneakers For Men (Blue),₹474,86% off
...,...,...,...,...
95,RED TAPE,"SM-282 Sneakers For Men (Tan, Navy)","₹1,379",70% off
96,VIPSJAZZY,Caven Sneakers For Men (White),₹399,60% off
97,SPARX,Fashion Shoes for mens Latest Sneakers For Men...,₹931,30% off
98,SPARX,Men SM-282 Navy Blue White Sneakers For Men (...,₹740,7% off
99,Nilatin,Sneakers For Men (Black),₹449,65% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace. you have to scrape the below mention attributes. These are

In [60]:
#Lets first connect to webdriver
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(4)


url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Best in the market!,Great iPhone very snappy experience as apple k...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Awesome,The phone is completely good\nAs far as camera...
96,3,Decent product,Everything u ll like it when u use this iPhone...
97,5,Fabulous!,Everything is perfect pictures come out so cle...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,5,Just wow!,The ultimate performance\nCamera is superb\nTh...

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com.

In [63]:
#Lets first connect to webdriver
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(4)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

time.sleep(2)
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

        
#scrapping all product Url
product_url = []
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    url=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in url:
        product_url.append(i.get_attribute('href'))
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))     #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        

# scraping discount from each product url
for product in product_url:
    driver.get(product)
    try:
        disc=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[3]/div[1]/div/div[3]/span")# scraping the discount from the absolute xpath
        discount.append(disc.text)
    except NoSuchElementException:
        discount.append("No Discount")  
        
#creating a dataframe
df=pd.DataFrame({'Brand':brand,
                'Description':description,
                'Price':price,
                'Discount':discount})
#printing dataframe
df

,Brand,Description,Price,Discount
0,Elligator,UV Protection Round Sunglasses (54),₹295,No Discount
1,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,No Discount
2,PIRASO,UV Protection Aviator Sunglasses (54),₹225,No Discount
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,No Discount
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,No Discount
...,...,...,...,...
115,Mi,Polarized Aviator Sunglasses (Free Size),"₹1,199",No Discount
116,Wrogn,Polarized Round Sunglasses (52),₹659,No Discount
117,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹297,No Discount
118,Elligator,"UV Protection, Gradient Aviator Sunglasses (53)",₹312,No Discount
119,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹398,No Discount